* {
    font-family: Arial, Helvetica, sans-serif;
}
.Adder, .List{
    width: 100%;
    padding: 1rem;
}
.Adder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.List {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Main {
    background-color: rgb(218, 168, 93);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-radius: 1rem;
}
.Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.task{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.task .div .span{
    word-wrap: inherit ;
}

.cross-task{
    text-decoration: line-through;
}
